In [2]:
import pandas as pd
import glob, os

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [51]:
# 각자 디렉터리 설정
path = r'C:\Users\Admin\Desktop\데이터 분석\NLP_project\문서군집화_OpinosisDataset1.0\OpinosisDataset1.0\topics'

# path로 저장한 디렉터리 밑에 있는 모든 .data 파일의 파일명을 리스트로 취합
all_files = glob.glob(os.path.join(path, '*.data'))
filename_list = []
opinion_text = []

In [52]:
# 개별 파일의 파일명은 파일명 리스트 filename_list로 취합
# 개별 파일의 파일 내용은 DataFrame 로딩 후 다시 string으로 변환해 opinion_text list로 취합
for file_ in all_files:
    # 개별 파일을 읽어서 DataFrame으로 생성
    df = pd.read_table(file_, index_col = None, header = 0, encoding = 'latin1')
    
    # 절대 경로로 주어진 파일명을 가공
    # 맨 마지막 .data 확장자도 제거
    filename_ = file_.split('\\')[-1]
    filename = filename_.split('.')[0]
    
    # 파일명 list와 파일 내용 list에 파일명과 파일 내용을 추가
    filename_list.append(filename)
    opinion_text.append(df.to_string()) # 다시 문자열로 반환한 뒤 파일 내용을 리스트에 추가
    
# 파일명 list와 파일 내용 list 객체를 DataFrame으로 생성
document_df = pd.DataFrame({'filename': filename_list, 'opinion_text': opinion_text})
document_df.head()

,filename,opinion_text
0,accuracy_garmin_nuvi_255W_gps,...
1,bathroom_bestwestern_hotel_sfo,...
2,battery-life_amazon_kindle,...
3,battery-life_ipod_nano_8gb,...
4,battery-life_netbook_1005ha,...

In [53]:
all_files[0]

'C:\\Users\\Admin\\Desktop\\데이터 분석\\NLP_project\\문서군집화_OpinosisDataset1.0\\OpinosisDataset1.0\\topics\\accuracy_garmin_nuvi_255W_gps.txt.data'

In [5]:
all_files[0].split('\\')

['C:',
 'Users',
 'Admin',
 'Desktop',
 '데이터 분석',
 'NLP_project',
 '문서군집화_OpinosisDataset1.0',
 'OpinosisDataset1.0',
 'topics',
 'accuracy_garmin_nuvi_255W_gps.txt.data']

In [6]:
all_files[0].split('\\')[-1]

'accuracy_garmin_nuvi_255W_gps.txt.data'

In [7]:
all_files[0].split('\\')[-1].split('.')

['accuracy_garmin_nuvi_255W_gps', 'txt', 'data']

In [8]:
all_files[0].split('\\')[-1].split('.')[0]

'accuracy_garmin_nuvi_255W_gps'

In [14]:
from nltk.stem import WordNetLemmatizer
import nltk
import string

In [54]:
# 문장부호 제거
remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)

In [15]:
string.punctuation # 파이썬의 문자열 구두점(문장부호들)

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
remove_punct_dict

{33: None,
 34: None,
 35: None,
 36: None,
 37: None,
 38: None,
 39: None,
 40: None,
 41: None,
 42: None,
 43: None,
 44: None,
 45: None,
 46: None,
 47: None,
 58: None,
 59: None,
 60: None,
 61: None,
 62: None,
 63: None,
 64: None,
 91: None,
 92: None,
 93: None,
 94: None,
 95: None,
 96: None,
 123: None,
 124: None,
 125: None,
 126: None}

In [55]:
lemmar = WordNetLemmatizer()

In [56]:
def LemTokens(tokens):
    return [lemmar.lemmatize(token) for token in tokens]

def LemNormalize(text):
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [57]:
tfidf_vect = TfidfVectorizer(tokenizer = LemNormalize, stop_words = 'english',
                            ngram_range = (1, 2), min_df = 0.05, max_df = 0.85)

# 개별 문서 텍스트에 대해 TF-IDF 변환된 피처 벡터화된 행렬을 구할 수 있다.
# opinion_text 칼럼 값으로 피처 벡터화 수행
feature_vect = tfidf_vect.fit_transform(document_df['opinion_text'])

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [27]:
# KMeans 군집화 수행
# 5개의 중심(centroid) 기반으로 어떻게 군집화되는지 확인
km_cluster = KMeans(n_clusters = 5, max_iter = 10000, random_state = 0)
km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_ # 0, 1, 2, 3, 4
cluster_centers = km_cluster.cluster_centers_

In [33]:
import numpy as np

In [34]:
np.unique(cluster_label)

array([0, 1, 2, 3, 4])

In [36]:
document_df['cluster_label'] = cluster_label
document_df.head()

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,2
1,bathroom_bestwestern_hotel_sfo,...,0
2,battery-life_amazon_kindle,...,1
3,battery-life_ipod_nano_8gb,...,1
4,battery-life_netbook_1005ha,...,1

In [38]:
document_df[document_df['cluster_label'] == 0].sort_values(by = 'filename')

,filename,opinion_text,cluster_label
1,bathroom_bestwestern_hotel_sfo,...,0
32,room_holiday_inn_london,...,0
30,rooms_bestwestern_hotel_sfo,...,0
31,rooms_swissotel_chicago,...,0

In [39]:
document_df[document_df['cluster_label'] == 1].sort_values(by = 'filename')

,filename,opinion_text,cluster_label
2,battery-life_amazon_kindle,...,1
3,battery-life_ipod_nano_8gb,...,1
4,battery-life_netbook_1005ha,...,1
19,keyboard_netbook_1005ha,...,1
26,performance_netbook_1005ha,...,1
41,size_asus_netbook_1005ha,...,1
42,sound_ipod_nano_8gb,headphone jack i got a clear case for it a...,1
44,speed_windows7,...,1

In [40]:
document_df[document_df['cluster_label'] == 2].sort_values(by = 'filename')

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,2
5,buttons_amazon_kindle,...,2
8,directions_garmin_nuvi_255W_gps,...,2
9,display_garmin_nuvi_255W_gps,...,2
10,eyesight-issues_amazon_kindle,...,2
11,features_windows7,...,2
12,fonts_amazon_kindle,...,2
23,navigation_amazon_kindle,...,2
33,satellite_garmin_nuvi_255W_gps,...,2
34,screen_garmin_nuvi_255W_gps,...,2
35,screen_ipod_nano_8gb,...,2
36,screen_netbook_1005ha,...,2
43,speed_garmin_nuvi_255W_gps,...,2
48,updates_garmin_nuvi_255W_gps,...,2
49,video_ipod_nano_8gb,...,2
50,voice_garmin_nuvi_255W_gps,...,2

In [41]:
document_df[document_df['cluster_label'] == 3].sort_values(by = 'filename')

,filename,opinion_text,cluster_label
13,food_holiday_inn_london,...,3
14,food_swissotel_chicago,...,3
15,free_bestwestern_hotel_sfo,...,3
20,location_bestwestern_hotel_sfo,...,3
21,location_holiday_inn_london,...,3
24,parking_bestwestern_hotel_sfo,...,3
27,price_amazon_kindle,...,3
28,price_holiday_inn_london,...,3
38,service_bestwestern_hotel_sfo,...,3
39,service_holiday_inn_london,...,3
40,service_swissotel_hotel_chicago,...,3
45,staff_bestwestern_hotel_sfo,...,3
46,staff_swissotel_chicago,...,3

In [42]:
document_df[document_df['cluster_label'] == 4].sort_values(by = 'filename')

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,...,4
7,comfort_toyota_camry_2007,...,4
16,gas_mileage_toyota_camry_2007,...,4
17,interior_honda_accord_2008,...,4
18,interior_toyota_camry_2007,...,4
22,mileage_honda_accord_2008,...,4
25,performance_honda_accord_2008,...,4
29,quality_toyota_camry_2007,...,4
37,seats_honda_accord_2008,...,4
47,transmission_toyota_camry_2007,...,4

In [58]:
# 3개의 집합으로 군집화
km_cluster = KMeans(n_clusters = 3, max_iter = 10000, random_state = 0)
km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_ # 0, 1, 2
cluster_centers = km_cluster.cluster_centers_

document_df['cluster_label'] = cluster_label
document_df.sort_values(by = 'cluster_label')

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,0
48,updates_garmin_nuvi_255W_gps,...,0
44,speed_windows7,...,0
43,speed_garmin_nuvi_255W_gps,...,0
42,sound_ipod_nano_8gb,headphone jack i got a clear case for it a...,0
41,size_asus_netbook_1005ha,...,0
36,screen_netbook_1005ha,...,0
35,screen_ipod_nano_8gb,...,0
34,screen_garmin_nuvi_255W_gps,...,0
33,satellite_garmin_nuvi_255W_gps,...,0
27,price_amazon_kindle,...,0
26,performance_netbook_1005ha,...,0
49,video_ipod_nano_8gb,...,0
23,navigation_amazon_kindle,...,0
19,keyboard_netbook_1005ha,...,0
50,voice_garmin_nuvi_255W_gps,...,0
9,display_garmin_nuvi_255W_gps,...,0
2,battery-life_amazon_kindle,...,0
3,battery-life_ipod_nano_8gb,...,0
4,battery-life_netbook_1005ha,...,0
5,buttons_amazon_kindle,...,0
12,fonts_amazon_kindle,...,0
11,features_windows7,...,0
10,eyesight-issues_amazon_kindle,...,0
8,directions_garmin_nuvi_255W_gps,...,0
47,transmission_toyota_camry_2007,...,1
37,seats_honda_accord_2008,...,1
6,comfort_honda_accord_2008,...,1
7,comfort_toyota_camry_2007,...,1
16,gas_mileage_toyota_camry_2007,...,1
25,performance_honda_accord_2008,...,1
17,interior_honda_accord_2008,...,1
18,interior_toyota_camry_2007,...,1
22,mileage_honda_accord_2008,...,1
29,quality_toyota_camry_2007,...,1
1,bathroom_bestwestern_hotel_sfo,...,2
46,staff_swissotel_chicago,...,2
45,staff_bestwestern_hotel_sfo,...,2
14,food_swissotel_chicago,...,2
20,location_bestwestern_hotel_sfo,...,2
21,location_holiday_inn_london,...,2
30,rooms_bestwestern_hotel_sfo,...,2
38,service_bestwestern_hotel_sfo,...,2
13,food_holiday_inn_london,...,2
24,parking_bestwestern_hotel_sfo,...,2
28,price_holiday_inn_london,...,2
15,free_bestwestern_hotel_sfo,...,2
32,room_holiday_inn_london,...,2
31,rooms_swissotel_chicago,...,2
39,service_holiday_inn_london,...,2
40,service_swissotel_hotel_chicago,...,2

## 군집별 핵심 단어 추출하기

In [59]:
cluster_centers = km_cluster.cluster_centers_
print('cluster_centers shape: ', cluster_centers.shape)
print(cluster_centers)

cluster_centers shape:  (3, 4611)
[[0.01005322 0.         0.         ... 0.00706287 0.         0.        ]
 [0.         0.00092551 0.         ... 0.         0.         0.        ]
 [0.         0.00099499 0.00174637 ... 0.         0.00183397 0.00144581]]

In [71]:
# 군집별 top n 핵심단어, 그 단어의 중심 위치 상대값, 대상 파일명들을 반환함. 
def get_cluster_details(cluster_model, cluster_data, feature_names, clusters_num, top_n_features = 10):
    cluster_details = {}
    
    # cluster_centers array 의 값이 큰 순으로 정렬된 index 값을 반환
    # 군집 중심점(centroid)별 할당된 word 피처들의 거리값이 큰 순으로 값을 구하기 위함.  
    centroid_feature_ordered_ind = cluster_model.cluster_centers_.argsort()[:,::-1]
    
    #개별 군집별로 iteration하면서 핵심단어, 그 단어의 중심 위치 상대값, 대상 파일명 입력
    for cluster_num in range(clusters_num):
        # 개별 군집별 정보를 담을 데이터 초기화. 
        cluster_details[cluster_num] = {}
        cluster_details[cluster_num]['cluster'] = cluster_num
        
        # cluster_centers_.argsort()[:,::-1] 로 구한 index 를 이용하여 top n 피처 단어를 구함. 
        top_feature_indexes = centroid_feature_ordered_ind[cluster_num, :top_n_features]
        top_features = [ feature_names[ind] for ind in top_feature_indexes ]
        
        # top_feature_indexes를 이용해 해당 피처 단어의 중심 위치 상댓값 구함 
        top_feature_values = cluster_model.cluster_centers_[cluster_num, top_feature_indexes].tolist()
        
        # cluster_details 딕셔너리 객체에 개별 군집별 핵심 단어와 중심위치 상대값, 그리고 해당 파일명 입력
        cluster_details[cluster_num]['top_features'] = top_features
        cluster_details[cluster_num]['top_features_value'] = top_feature_values
        filenames = cluster_data[cluster_data['cluster_label'] == cluster_num]['filename']
        filenames = filenames.values.tolist()
        cluster_details[cluster_num]['filenames'] = filenames
        
    return cluster_details

In [72]:
def print_cluster_details(cluster_details):
    for cluster_num, cluster_detail in cluster_details.items():
        print('###### Cluster {0}'.format(cluster_num))
        print('Top features: ', cluster_detail['top_features'])
        print('Reviews 파일명: ', cluster_detail['filenames'][:7])
        print('=============================================')

In [73]:
feature_names = tfidf_vect.get_feature_names()

cluster_details = get_cluster_details(cluster_model = km_cluster, cluster_data = document_df,\
                                  feature_names = feature_names, clusters_num = 3, top_n_features = 10)

In [74]:
cluster_details

{0: {'cluster': 0,
  'top_features': ['screen',
   'battery',
   'keyboard',
   'battery life',
   'life',
   'kindle',
   'direction',
   'video',
   'size',
   'voice'],
  'top_features_value': [0.13738120192560713,
   0.12029588637881046,
   0.06416898221290011,
   0.06330587553655656,
   0.058609811414901014,
   0.05646823079053855,
   0.05393721234628231,
   0.05389363145594924,
   0.05127615400589759,
   0.05119379623996657],
  'filenames': ['accuracy_garmin_nuvi_255W_gps',
   'battery-life_amazon_kindle',
   'battery-life_ipod_nano_8gb',
   'battery-life_netbook_1005ha',
   'buttons_amazon_kindle',
   'directions_garmin_nuvi_255W_gps',
   'display_garmin_nuvi_255W_gps',
   'eyesight-issues_amazon_kindle',
   'features_windows7',
   'fonts_amazon_kindle',
   'keyboard_netbook_1005ha',
   'navigation_amazon_kindle',
   'performance_netbook_1005ha',
   'price_amazon_kindle',
   'satellite_garmin_nuvi_255W_gps',
   'screen_garmin_nuvi_255W_gps',
   'screen_ipod_nano_8gb',
   'screen_netbook_1005ha',
   'size_asus_netbook_1005ha',
   'sound_ipod_nano_8gb',
   'speed_garmin_nuvi_255W_gps',
   'speed_windows7',
   'updates_garmin_nuvi_255W_gps',
   'video_ipod_nano_8gb',
   'voice_garmin_nuvi_255W_gps']},
 1: {'cluster': 1,
  'top_features': ['interior',
   'seat',
   'mileage',
   'comfortable',
   'gas',
   'gas mileage',
   'transmission',
   'car',
   'performance',
   'quality'],
  'top_features_value': [0.2278046916838381,
   0.1939512034790141,
   0.17730089408820418,
   0.12790439933840922,
   0.12265896733770874,
   0.1165812335567078,
   0.10486543788164414,
   0.1015256988633988,
   0.09562358109597213,
   0.09233847022967973],
  'filenames': ['comfort_honda_accord_2008',
   'comfort_toyota_camry_2007',
   'gas_mileage_toyota_camry_2007',
   'interior_honda_accord_2008',
   'interior_toyota_camry_2007',
   'mileage_honda_accord_2008',
   'performance_honda_accord_2008',
   'quality_toyota_camry_2007',
   'seats_honda_accord_2008',
   'transmission_toyota_camry_2007']},
 2: {'cluster': 2,
  'top_features': ['room',
   'hotel',
   'service',
   'staff',
   'food',
   'location',
   'bathroom',
   'clean',
   'price',
   'parking'],
  'top_features_value': [0.26083463293785525,
   0.20029241494780795,
   0.17546706020591651,
   0.14901486167147948,
   0.1277265040158775,
   0.12576707418420113,
   0.07042395128821588,
   0.06971189120637236,
   0.059533968934674365,
   0.05842875064534637],
  'filenames': ['bathroom_bestwestern_hotel_sfo',
   'food_holiday_inn_london',
   'food_swissotel_chicago',
   'free_bestwestern_hotel_sfo',
   'location_bestwestern_hotel_sfo',
   'location_holiday_inn_london',
   'parking_bestwestern_hotel_sfo',
   'price_holiday_inn_london',
   'rooms_bestwestern_hotel_sfo',
   'rooms_swissotel_chicago',
   'room_holiday_inn_london',
   'service_bestwestern_hotel_sfo',
   'service_holiday_inn_london',
   'service_swissotel_hotel_chicago',
   'staff_bestwestern_hotel_sfo',
   'staff_swissotel_chicago']}}

In [76]:
print_cluster_details(cluster_details)

###### Cluster 0
Top features:  ['screen', 'battery', 'keyboard', 'battery life', 'life', 'kindle', 'direction', 'video', 'size', 'voice']
Reviews 파일명:  ['accuracy_garmin_nuvi_255W_gps', 'battery-life_amazon_kindle', 'battery-life_ipod_nano_8gb', 'battery-life_netbook_1005ha', 'buttons_amazon_kindle', 'directions_garmin_nuvi_255W_gps', 'display_garmin_nuvi_255W_gps']
=============================================
###### Cluster 1
Top features:  ['interior', 'seat', 'mileage', 'comfortable', 'gas', 'gas mileage', 'transmission', 'car', 'performance', 'quality']
Reviews 파일명:  ['comfort_honda_accord_2008', 'comfort_toyota_camry_2007', 'gas_mileage_toyota_camry_2007', 'interior_honda_accord_2008', 'interior_toyota_camry_2007', 'mileage_honda_accord_2008', 'performance_honda_accord_2008']
=============================================
###### Cluster 2
Top features:  ['room', 'hotel', 'service', 'staff', 'food', 'location', 'bathroom', 'clean', 'price', 'parking']
Reviews 파일명:  ['bathroom_bestwestern_hotel_sfo', 'food_holiday_inn_london', 'food_swissotel_chicago', 'free_bestwestern_hotel_sfo', 'location_bestwestern_hotel_sfo', 'location_holiday_inn_london', 'parking_bestwestern_hotel_sfo']
=============================================